@model IEnumerable<Accessories.Models.Accessory>
<style>
    #th {
        color: red;
    }
</style>
@if (ViewData["Search"] != null)
{
    @Html.ActionLink("Export As PDF", "Expert", new { Page = "index", search = ViewData["Search"] })
}
else
{
    @Html.ActionLink("Export As PDF", "Expert", new { Page = "index" })
}
<table class="table">
    <tr>
        <th style="text-align:center">
            NO
        </th>
        <th style="text-align:center">
            Name
        </th>
        <th style="text-align:center">
            Quantity
        </th>
        <th style="text-align:center">
            Location
        </th>
        <th style="text-align:center">
            Model
        </th>
        <th style="text-align:center">
            Serial Number
        </th>
        <th style="text-align:center">
            Category Name
        </th>
        <th style="text-align:center">
            Color
        </th>
        <th style="text-align:center">
            Photo
        </th>
        <th></th>
    </tr>
    @{
        int counter = 0;
    }
    @foreach (var item in Model)
    {
        counter++;
        string path = "";
        try
        {
            path = Path.GetFileName(Directory.GetFiles(Server.MapPath("~/Uploads/Img/"), item.ID + "IMG" + "*")[0]);
        }
        catch
        {
            path = "";
        }
        <tr>
            <td style="text-align:center">
                @counter
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Serial_Number)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            @if (item.colors.Count != 0)
                {
                <td style="text-align:center">
                    @item.colors.First().Name
                </td>
            }
            else
            {
                <td>No Color</td>
            }
            <td style="text-align:center">
                <img src="~/Uploads/Img/@path" alt="" width="50" height="50" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>





