@using Accessories.Models
@model SubCat2
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SubCat2</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCat1.Cat_ID, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cat_id", new SelectList(new DB().Categories, "ID", "Name",Model.SubCat1.Cat_ID), "--Select Category--", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCat1_ID, "Sub Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubCat1_ID", new SelectList(new DB().SubCat1.Where(x=>x.Cat_ID== Model.SubCat1.Cat_ID), "ID", "Name", Model.SubCat1_ID), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubCat1_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function(){
          $("#cat_id").change(function(){
              $.get("/SubCat2/GetSubCat", { Catid: $("#cat_id").val() }, function (data) {
                  $("#SubCat1_ID").empty();
                  $.each(data, function (index, row) {
                      $("#SubCat1_ID").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                  });
              });
           });
        });
</script>